.o_shams_todo_done_button {
    color: #adb5bd;
    cursor: pointer;
    line-height: 1;
}

.o_shams_todo_done_button:hover {
    color: #198754;
}

.o_shams_todo_done_button_enabled {
    color: #198754;
}

.o_shams_todo_done_checkmark_cell {
    width: 2rem;
}
